@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: white;
}

body {
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff13;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
    width: 500px;
    height: fit-content;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    z-index: 99;
}

.container form {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container p {
    text-align: center;
}

.container span {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 5px;
}

#forgot-password {
    text-align: right;
} 

.container h1 {
    text-align: center;
    font-weight: normal;
    color: white;
}

.container form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff34;
    width: 100%;
    height: 40px;
}

.container form input:focus {
    box-shadow: 0 0 0 3px inset #1e3c72;
    outline: none;
}

.container button[type=submit] {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1e3c72;
    border: none;
    margin-bottom: 20px;
}