@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
}

body {
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    height: fit-content;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    background-color: #141414;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
    width: 400px;
}

.modal {
    width: 400px;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    background-color: #141414;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
}

.modal-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.container,
.modal-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.container form,
.modal-content form {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container p,
.modal-content p {
    text-align: center;
}

.container span,
.modal-content span {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 5px;
}

#forgot-password {
    text-align: right;
} 

.container h1,
.modal-content h1 {
    text-align: center;
    color: white;
}

.container form input,
.modal-content form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #6d6d6d34;
    width: 100%;
    height: 40px;
}

.container form input:focus,
.modal-content form input:focus {
    box-shadow: 0 0 0 1px inset #ffffff;
    outline: none;
}

.container button[type=submit],
.modal-content button[type=submit] {
    color: #000;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    margin-bottom: 20px;
}

.container div,
.modal-content div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.container h2,
.modal-content h2 {
    font-size: 16px;
}

.container div span,
.modal-content div span {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.container div span p,
.modal-content div span p {
    font-size: 16px;
}

.container div span button,
.modal-content div span button {
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.container .logout-button {
    background-color: #ffffff09;
    color: #fa5e55;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.container .logout-button:hover {
    background-color: #aa2e27;
    color: #ffffff;
}

.notification-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    width: 400px;
    z-index: 1002;
}

.notification {
    margin-left: auto;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
}

.notification.error {
    background-color: #fa5e55;
}

.notification.success {
    background-color: #4CAF50;
}

.notification p {
    margin: 0;
}

.main-container .loader,
.modal-container .loader-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.main-container .spinner,
.modal-container .spinner-modal {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db00;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}